/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

body{
    background-color: #000;
}


/* nav */
#top-container {
    background-color: #000;
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    z-index: 900;
}

.item-nav {
    background-color: #4A4A4A;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 14px;
    margin: 0.5em;
    font-weight: 600;
}


/* main */
main {
    padding: 0 8%;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.content-container {
    position: relative;
    width: calc((100% / 7) - 1em);
    height: 12%;
    background-image: url(../IMG/lucas-canino-RbAFhuLhQ-s-unsplash.jpg);
    background-size: cover;
    margin: 0.5em;
}

.item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0E0E0E;
    opacity: 0.5;
    color: white;
    border-radius: 4px;
    padding: 0.5em;
}
