/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

body{
    background-color: #000;
}


/* top-container */

.container-nav{
    color: white;
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    align-items: center;
    z-index: 900;
}

#top-nav {
    background-color: #000;
    top: 0;
    justify-content: end;
}

.item-top {
    background-color: #4A4A4A;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 14px;
    margin: 0.5em;
    font-weight: 600;
}

.item-top:hover {
    cursor: pointer;
}


/* main */
main {
    margin: 80px 0;
    padding: 0 8%;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}
.content-container {
    position: relative;
    width: calc((100% / 7) - 1em);
    height: calc((100vh / 6) - 1em);
    background-image: url(../IMG/lucas-canino-RbAFhuLhQ-s-unsplash.jpg);
    background-size: cover;
    margin: 0.5em;
}

.item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0E0E0E;
    opacity: 0.5;
    color: white;
    border-radius: 4px;
    padding: 0.5em;
}


/* nav */
 #bottom-nav {
    background-color: #222222;
    bottom: 0;
    justify-content: space-between;
}

.item-nav {
    margin: 0.5em;
    font-weight: 600;
}

.item-nav:hover {
    cursor: pointer;
}

.item-nav i {
    font-size: 24px;
    display: block;
}

.container-nav-item {
    margin: 0 0.5em;
    font-size: 16px;
    display: flex;
    text-align: center;
}

.item-nav .fa-share-from-square {
    color: #4BC800;
}


.container-nav button {
    margin: 0;
    width: 10%;
    height: 100%;
    font-size: 20px;
    font-weight: 800;
    color: #ff0000;
    background-color: #4A4A4A;
    border: none;
}

.container-nav button:hover {
    cursor: pointer;
}